/*----------------
    RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}
/*----------------
    BODy
----------------*/
#app {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
    to bottom,    
    #009688 0 15%, #d9dbd5 0 75%);
    display: flex;
}
.container {
    height: 95%;
    width: 1540px;
    margin: auto;
    display: flex;
}
.containerLeft {
    width: 40%;
    background-color: #eaeaea;
    border-right: 1px solid lightgray;
}
.containerRight {
    width: 60%;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
}
.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.myAccount {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.myAccount strong {
    padding-left: 10px;
}
.options {
    padding-right: 10px;
}
.options i {
    padding-left: 10px;
    color: #b1b1b1;
    cursor: pointer;
}
.mainContainerLeft {
    display: flex;
    flex-direction: column;
}
.notice {
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: 10px;
}
.bell {
    background-color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 50%;
    color: #8edafc;
}
.fa-bell-slash {
    font-size: 20px;
}
.textNotice {
    padding-left: 10px;
}
.activeNotice {
    font-size: 14px;
    color: grey;
    text-decoration: underline;
}
.search, .searchFooter {
    padding: 10px;
    display: flex;
}
.btn {
    width: 10%;
    background-color: white;
    border: 1px solid #b6b9bb;
}
.btn i {
    padding: 5px 0;
    color: #b6b9bb;
}
.research {
    width: 90%;
    border: 1px solid #b6b9bb;
    border-left: none;
    padding-left: 10px;
}
.mainBackground {
    background-image: url(img/mine.jpg);
    flex-grow: 1;
    flex-shrink: initial;
    padding: 30px 70px;
}
.searchFooter {
    align-items: center;
    justify-content: space-between;
}
.emoticons, .send {
    width: 10%;
    color: grey;
    text-align: center;
    cursor: pointer;
}
.write {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.btnSend {
    background-color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid lightgray;
    border-radius: 50%;
    color: grey;
}
.menuChat {
    overflow-y: auto;
    background-color: white;
}
.chatImage {
    height: 50px;
    width: 10%;
}
.chatName {
    width: 60%;
}
.chatImage img {
    width: 50px;
    border-radius: 50%;
}
.liContainer {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.liContainer.active {
    background-color: #e9ebeb;
}
.chatName span {
    font-weight: bold;
}
.chatName p {
    font-size: 14px;
    color: grey;
}
.chatDate {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}
/*-----------------
    MESSAGES
-----------------*/
.sent {
    background-color: #d5f9ba;
    margin: 5px 0;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 18.75rem;
    margin-left: 60%;
}
.received {
    background-color: white;
    margin: 5px 0;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 18.75rem;
}
.time {
    font-size: 12px;
    display: flex;
    justify-content: end;
    position: absolute;
    right: 5px;
    color: #b1b1b1;
}